<launch>
  <node pkg="mission_planner" type="mission_planner.py" name="mission_plan" output="screen">
  </node>
  <node pkg="mission_planner" type="motor_controller.py" name="motor_ctrl" output="screen">
  </node>
  <node pkg="mission_planner" type="servo_controller.py" name="servo_ctrl" output="screen">
  </node>
</launch>
